{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Historique des operations</h1>

        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Operation n°</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
            {% for operation in operations %}
                <tr class="table-light">
                    <td>{{ operation.id }}</td>
                    <td>{{ operation.date ? operation.date|date('d-m-Y') : '' }}</td>
                    <td>{{ operation.type }}</td>
                    <td>{{ operation.montant }} €</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
