{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Operations</h1>

        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Montant</th>
            </tr>
            </thead>
            <tbody>
            {% for operation in operations %}
                <tr class="table-light">
                    <td>{{ operation.id }}</td>
                    <td>{{ operation.date ? operation.date|date('Y-m-d') : '' }}</td>
                    <td>{{ operation.montant }} €</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
