{% extends 'base.html.twig' %}

{% block title %}Hello MouvementController!{% endblock %}

{% block body %}
    <h2 class="my-5">Dépôt / Retrait</h2>

    <div class="row justify-content-between">
        <div class="col-4">
            {{ form(form)}}
        </div>
        <div class="col-8">
            <div class="card col-6 animate__animated animate__bounceInRight">
                <div class="card-body">
                    <h5 class="card-title">Compte numéro : {{ compte.id }}</h5>
                    <p class="card-text">{{ compte.type.libelle }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Solde : {{ compte.solde }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
