{% extends 'base.html.twig' %}

{% block title %}New Compte{% endblock %}

{% block body %}
    <h1>Create new Compte</h1>
    {% for message in app.flashes('alert') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {{ include('compte/_form.html.twig') }}

{% endblock %}
