{% extends 'base.html.twig' %}

{% block title %}Edit Libelle{% endblock %}

{% block body %}
    <h1>Edit Libelle</h1>

    {{ include('libelle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_libelle_index') }}">back to list</a>

    {{ include('libelle/_delete_form.html.twig') }}
{% endblock %}
