{% extends 'base.html.twig' %}

{% block title %}New Libelle{% endblock %}

{% block body %}
    <h1>Create new Libelle</h1>

    {{ include('libelle/_form.html.twig') }}

    <a href="{{ path('app_libelle_index') }}">back to list</a>
{% endblock %}
